/* Header styles */
.header-container {
  align-items: center;
  margin-bottom: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin-top: 10px;
  margin-left: 30px;
  transition: transform 0.3s ease; /* Add transition for transform property */
}

.logo-container:hover {
  transform: scale(0.9); /* Shrink the logo to 90% of its original size on hover */
}

.menu-container {
  position: relative;
  margin-top: 20px;
  margin-right: 45px;
}

.links-container {
  position: absolute;
  top: 40px;
  margin-left: -22px;
  background-color: rgba(3, 110, 3, 0.95); /* Slightly transparent */
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  opacity: 0; /* Initially hidden */
  visibility: hidden;
  transform: translateY(-20px); /* Initially moved up by 20px */
  transition: all 0.3s ease; /* Animation effect */
}

.links-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav-link {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.nav-link:last-child {
  margin-bottom: 0;
}

.nav-link:hover {
  text-decoration: underline;
}

.logo {
  margin-left: 5px;
  margin-top: 16px;
  color: white;
}

.menu-icon {
  cursor: pointer;
}
