/* Home styles */

.website-title {
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
  border-bottom: 3px solid forestgreen;
  padding-bottom: 10px;
}

.brief-description {
  font-size: 18px; 
  max-width: 600px; 
  padding-top: 10px;
}

.our-goal {
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
  margin-top: 50px;
  border-bottom: 3px solid forestgreen;
  padding-bottom: 10px;
}

.goal-description {
  font-size: 18px;
  margin-bottom: 40px; 
}

.shield-wrapper {
  position: relative;
  margin-bottom: 40px;
  margin-top: 40px;
}

.shield-icon {
  font-size: 140px; 
  color: forestgreen; 
}

.shield-text {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 18px; 
  font-weight: 600;
}

.shield-text p {
border-bottom: 2px solid white;
padding-bottom: 5px;
margin-bottom: 8px;
}

.shield-text span {
  color: rgb(247, 243, 31);
}

.sign-up-text {
  margin-top: 60px;
}

.text-center h3 {
  margin-bottom: 50px;
}

button {
  background-color: forestgreen;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 100px !important;
  cursor: pointer;
  border-radius: 5px !important;
}

button:hover {
  background-color: green;
}
