/* Home styles */

.shield-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
}

.shield-icon {
  font-size: 140px; 
  color: forestgreen; 
}

.shield-text {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 18px; 
  font-weight: 600;
}

.shield-text p {
border-bottom: 2px solid white;
padding-bottom: 5px;
margin-bottom: 8px;
}

.shield-text span {
  color: rgb(247, 243, 31);
}

button {
  background-color: forestgreen;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: green;
}
