/* .form.label {
    text-align: center;
  } */
.avatarGroup {
  text-align: center;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.avatarSelect {
  height: 200px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px 0;
}

.avatarSelect:hover{
  opacity: .5;
  border: 5px solid white;
}